/* font-family: 'Julius Sans One',
sans-serif;

font-family: 'Crimson Text',
serif; */
body {
  font-family: 'Crimson Text', serif;
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #f4f4f4;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .sub {
  font-size: 25px;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width:40%;
  border-radius: 50%;

}

/* SKILLS SECTIOn */
.skillsSection,
.contactSection {
  background-color: #4b4646;
  color: #f4f4f4;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #f4f4f4;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

/* STATS SECTION */

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #01FF70  ;
  border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  border-bottom: 2px solid #01FF70
  ;
}

.squareInnerContainer:before {
  right: 0;
}

.squareInnerContainer:after {
  left: 0;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #4b4646;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  font-size: 45px;
  margin-left: -20%;
  color: #01FF70
  ;
}

/* CONTACT SECTION */
.contactButton {
  color: #f4f4f4;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #f4f4f4;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #4b4646;
  background: #f4f4f4;
}

/* Portfolio Section */

.filter {
  text-align: center;
  width: 100%;
}

.filter a {
  color: #4b4646;
  border: 1px solid #4b4646;
  padding: 10px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #4b4646;
  color: #f4f4f4;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  -webkit-transition: all .2s linear, 1s;
  -moz-transition: all .2s linear, 1s;
  -ms-transition: all .2s linear, 1s;
  transition: all .2s linear, 1s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #f4f4f4;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #4b4646;
  position: relative;
  display: inline-block;
  -webkit-transition: all .3s linear, .3s;
  -moz-transition: all .3s linear, .3s;
  -ms-transition: all .3s linear, .3s;
  transition: all .3s linear, .3s;

}

.items .imageOverlay {
  widows: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all .2s linear, 1s;
  -moz-transition: all .2s linear, 1s;
  -ms-transition: all .2s linear, 1s;
  transition: all .2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -200px;
}

.items .projectLink {
  float: right;
  right: -200px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

/* Copyright Section */
.copyrightSection {
  background-color: #4b4646;
  color: #f4f4f4;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

/* Navigation Section */

#navigation {
  background-color: #FF851B;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
  font-family: 'Julius Sans One',
    sans-serif;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #f4f4f4;
}

.navbar-brand,
.navbar-brand:hover {
  color: #f4f4f4;
}

.fa-bars {
  color: #f4f4f4;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  margin: 20px 10px;
  text-align: left;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      color: #3a5876;
      background: #fff;
      border-color: #3a5876;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      color: #e88845;
      background: #fff;
      border-color: #e88845;
}
